@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

li {
    list-style: none
}

img {
    border: 0;
    /*vertical-align:middle*/
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

input {
    -webkit-appearance: none;
    outline: none
    /*去除input默认样式*/
}

.clearFloat:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden
}

.clearFloat {
    zoom: 1
}

.fl {
    float: left;
}

.fr {
    float: right;
}
